*.out
*.blg
*.aux
*.pdf
*.log
*.bbl
*.bak
*.user
*.db
*.opendb
*.pdb
*.ilk
*.ipdb
*.iobj

testcases/gl_testcases/proj.win/.vs/
testcases/gl_testcases/proj.win/x64/
testcases/proj.win/.vs/
testcases/proj.win/x64/
/testcases/proj.win/*.txt
/testcases/proj.win/*.jpg

testcases/proj\.linux/\.codelite/shared_test\.session

testcases/proj\.linux/\.codelite/shared_test\.tags

testcases/proj\.linux/Debug/

testcases/proj\.linux/\.codelite/

testcases/proj\.linux/Makefile

testcases/proj\.linux/shared_test\.mk

testcases/proj\.linux/shared_test\.txt

\.DS_Store

testcases/gl_testcases/proj\.mac/gltest\.xcodeproj/project\.xcworkspace/xcuserdata/

testcases/gl_testcases/proj\.mac/gltest\.xcodeproj/xcuserdata/

testcases/proj\.mac/tester\.xcodeproj/project\.xcworkspace/xcuserdata/

testcases/proj\.mac/tester\.xcodeproj/xcuserdata/

*.png

*.ckdp

testcases/proj\.win/data_define\.hpp

testcases/proj\.linux/data_define\.hpp

testcases/proj\.linux/Release/
